# Ninja
build_dir

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
Debug/
Release/
build/
*.xcodeproj/

# Serpent Debug Logs
*.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mypyc files used for comparison
benchmarks/mypyc-benchmarks

/rbd-notes.txt

/cmake-build-debug/
/cmake-build-release/
/build
/.idea
/.vscode
/**/__pycache__/

/Debug/

/cserpent.xcodeproj/

/output_1.txt
/output_2.txt

/test_temp/

/tmp/

/src/runtime/test/
