# Ninja
build_dir

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Serpent Debug Logs
*.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mypyc files used for comparison
benchmarks/mypyc-benchmarks


/rbd-notes.txt

/reprtest/CMakeCache.txt

/reprtest/CMakeFiles/

/reprtest/CMakeScripts/

/reprtest/Debug/

/reprtest/Release/

/reprtest/build/

/reprtest/cmake_install.cmake

/reprtest/reprtest.xcodeproj/

/src/runtime/test/cmake_install.cmake

/src/runtime/test/CMakeCache.txt

/src/runtime/test/CMakeFiles/

/src/runtime/test/Release/

/src/runtime/test/CMakeScripts/

/src/runtime/test/build/

/src/runtime/test/runtimetests.xcodeproj/

/src/runtime/test/Debug/

/cmake-build-debug/
/build
/.idea
/**/__pycache__/
